{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center">Form Ubah Pesanan Sumber Daya</h1>
    <form method="POST" id="edit-pesanan">
        {% csrf_token %}
        <div class="mb-3">
            <label for="nomorTransaksi" class="form-label">Nomor Transaksi</label>
            <input type="text" class="form-control" value="{{ pesanan.0.0 }}" name="nomorTransaksi" id="nomorTransaksi" disabled required>
        </div>

        <div class="mb-3">
            <label for="petugas" class="form-label">Petugas</label>
            <input type="text" class="form-control" value="{{ pesanan.0.1 }}" name="petugas" id="petugas" disabled required>
        </div>

        <div class="mb-3">
            <label for="supplier" class="form-label">Supplier</label>
            <select class="form-control" name="supplier" id="supplier">
                <option value="{{ pesanan.0.14 }}">{{ pesanan.0.14 }}</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="noUrut" class="form-label">Nomor Urut</label>
            <input type="text" class="form-control" value="{{ noUrutNext }}" name="noUrut" id="noUrut" disabled required>
        </div>

        <div class="mb-3">
            <label for="item" class="form-label">Kode Item</label>
            <select class="form-control" name="item" id="item">
                <option selected disabled value="">Pilih Item :</option>
                {% for x in allItems %}
                <option value="{{ x.0 }}">{{ x.0 }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label for="jumlahItem" class="form-label">Jumlah Item</label>
            <input type="number" class="form-control" name="jumlah" id="jumlah" min="1" required>
        </div>

        <button type="submit" class="btn btn-success btn-block">TAMBAH</button>
    </form>

    <section id="daftar-pesanan">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">No. Urut</th>
                    <th scope="col">Item</th>
                    <th scope="col">Harga Satuan</th>
                    <th scope="col">Jumlah Item</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>

            <tbody id="table-body"></tbody>
        </table>

        <!-- <button type="submit" class="btn btn-success btn-block">SIMPAN</button> -->
    </section>
</div>
<script>
    let datas = [];
</script>
{% endblock content %}